.u-section-1 .u-sheet-1 {
  min-height: 315px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 307px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 113px;
  height: 113px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 0.75rem;
  margin: 30px 0 0 18px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 275px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 22px;
}

.u-section-1 .u-image-2 {
  width: 113px;
  height: 113px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 0.75rem;
  margin: 30px 9px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 275px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 22px;
}

.u-section-1 .u-image-3 {
  width: 113px;
  height: 113px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  margin: 30px 0 0 18px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 275px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 22px;
}

.u-section-1 .u-image-4 {
  width: 113px;
  height: 113px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  margin: 30px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 227px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 227px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2377px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1534px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 395px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 275px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 91px;
  height: 91px;
  margin: 0 auto 0 56px;
}

.u-section-2 .u-text-1 {
  font-size: 0.75rem;
  margin: -7px 9px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 275px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 113px;
  height: 52px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 0.75rem;
  margin: 32px 9px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 275px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 113px;
  height: 55px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 0.75rem;
  margin: 29px 18px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 275px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 227px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 227px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 348px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1566px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 522px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 329px;
  }
}